<header class="b_header">
    <div class="wrap-content">
        <a href="#" class="b_header_logo">
            <img src="../img/logo-big.png" class="b_header_img" alt="Фитнес Фан">
        </a>
        <div class="wrap-work-period">
            <i class="fa fa-clock-o"></i>
            <ul class="b_header_work-period-list">
                <li class="b_header_work-period-elem">
                    <span class="days">Пн-Пт</span>
                    <span class="time">с 8:00 до 23:00</span>
                </li>
                <li class="b_header_work-period-elem">
                    <span class="days">Сб-Вс</span>
                    <span class="time">с 9:00 до 22:00</span>
                </li>
            </ul>
        </div>
        <div class="wrap-phone">
            <i class="fa fa-phone"></i>
            <ul class="b_header_phones-list">
                <li class="b_header_phones-elem">
                    <a href="tel:+7-343-344-01-78"
                       class="b_header_phones-link link link-bottom-solid link-main">+7 (343) 344-01-78</a>
                </li>
                <li class="b_header_phones-elem">
                    <a href="tel:+7-343-344-01-79"
                       class="b_header_phones-link link link-bottom-solid link-main">+7 (343) 344-01-79</a>
                </li>
            </ul>
        </div>
        <div class="wrap-address">
            <i class="fa fa-map-marker"></i>
            <div class="b_address">г. Екатеринбург,<br/>ул. Ясная, д. 2</div>
        </div>
        <ul class="b_social-links-list">
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-vk"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-odnoklassniki"></i>
                </a>
            </li>
        </ul>
    </div>
</header>