<nav class="b_main-nav">
    <div class="wrap-content">
        <ul class="b_main-nav-list">
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">о клубе</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Новости</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Фото/видео</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Услуги</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Клубная карта</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Схема клуба</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Фототур</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Карта проезда</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link -active">Партнеры</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link">Команда</a>
            </li>
            <li class="b_main-nav-elem">
                <a href="#" class="b_main-nav-link -important">Расписание</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="b_mobile-nav">
    <div class="wrap-checked-label">
        <img class="little-logo" src="../img/logo-small.png" alt="" />
        <label for="toggler" class="checked-label">
            <i class="fa fa-bars"></i>
        </label>
    </div>
    <input type="checkbox" id="toggler" class="toggler">
    <ul class="mobile-nav-list">
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link -important">Расписание</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">О клубе</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link -active">Новости</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Фото/Видео</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Услуги</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Клубная карта</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Схема клуба</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Фототур</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Карта проезда</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Партнеры</a>
        </li>
        <li class="mobile-nav-elem">
            <a href="#" class="mobile-nav-link">Команда</a>
        </li>
        <li class="mobile-nav-elem social">
            <ul class="b_social-links-list">
                <li class="b_social-links-elem">
                    <a href="#" class="b_social-links-link">
                        <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li class="b_social-links-elem">
                    <a href="#" class="b_social-links-link">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="b_social-links-elem">
                    <a href="#" class="b_social-links-link">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="b_social-links-elem">
                    <a href="#" class="b_social-links-link">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li class="b_social-links-elem">
                    <a href="#" class="b_social-links-link">
                        <i class="fa fa-odnoklassniki"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>