<footer class="footer">
    <div class="wrap-content">
        <ul class="b_footer-controls-list">
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">О клубе</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Фото/видео</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Схема клуба</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Партнеры</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Расписание</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Клубная карта</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Фототур</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Команда</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Новости</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Услуги</a>
            </li>
            <li class="b_footer-controls-elem">
                <a href="#" class="b_footer-controls-link">Карта проезда</a>
            </li>
        </ul>
        <ul class="b_social-links-list">
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-vk"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
            <li class="b_social-links-elem">
                <a href="#" class="b_social-links-link">
                    <i class="fa fa-odnoklassniki"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>