.btn {
  display         : inline-block;
  text-align      : center;
  padding         : 0 50px;
  box-sizing      : border-box;
  text-decoration : none;
  font            : 30px Segoe UI Semibold, Arial, sans-serif;
  border-radius   : 3px;
  line-height     : 1;
  position        : relative;
  &:hover { text-decoration : none !important; }
  &.btn-primary {
    background  : #68c250;
    color       : $c-proj-white;
  }
  &.btn-success {
    background : $c-btn-success-bg;
    color : $c-proj-white;
    &:hover {
      background : #6accf0;
    }
  }
  &.btn-flat {
    background : $c-btn-flat-bg;
    color: $c-btn-flat-color;
    border-radius: 0;
    @extend %font-light;
    &:hover {
      background : $c-btn-flat-bg * .98;
      color: $c-btn-flat-color * .98;
    }
    &:active {
      background : $c-btn-flat-bg * .8;
      color: $c-btn-flat-color * .8;
    }
  }
}
.wrap-btn {
  display : inline-block;
  &:hover {
    .btn-primary { background : #f60 !important; }
    &:before {
      background : rgba(159, 24, 1, .73);
    }
  }
  &:active {
    .btn-primary {
      background : #f60;
    }
    &:before { display : none; }
  }
}