@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-Black-webfont.eot');
  src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Black-webfont.woff') format('woff'),
  url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Light-webfont.woff') format('woff'),
  url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
  url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}