html { height : 100%; }
body {
  height: 100%;
  overflow-x: hidden;
  position : relative;
  color: $black-color;
  @extend %font-regular;
  .global-wrap {
    min-height     : 100%;
    @include respond-to(phone) { padding-bottom : $q-little-footer-height; padding-top : 46px; }
    @include respond-to(tablets) { padding-bottom : $q-big-footer-height; padding-top : 46px; }
    @include respond-to(s-screens) { padding-bottom : $q-big-footer-height; }
    @include respond-to(m-screens) { padding-bottom : $q-big-footer-height; }
    @include respond-to(l-screens) { padding-bottom : $q-big-footer-height; }
    box-sizing     : border-box;
  }
  .footer {
    @include respond-to(phone) { margin-top : - $q-little-footer-height; height : $q-little-footer-height; }
    @include respond-to(tablets) { margin-top : - $q-big-footer-height; height : $q-big-footer-height; }
    @include respond-to(s-screens) { margin-top : - $q-big-footer-height; height : $q-big-footer-height; }
    @include respond-to(m-screens) { margin-top : - $q-big-footer-height; height : $q-big-footer-height; }
    @include respond-to(l-screens) { margin-top : - $q-big-footer-height; height : $q-big-footer-height; }
  }
}
.wrap-content {
  margin: auto;
  @include respond-to(phone) { max-width: 300px; }
  @include respond-to(tablets) { max-width: 750px; }
  @include respond-to(s-screens) { max-width: 980px; }
  @include respond-to(m-screens) { max-width: 1016px; }
  @include respond-to(l-screens) { max-width: 1200px; }
}