%font-regular { font-family : 'robotoregular' }
%font-black { font-family : 'robotoblack'}
%font-medium { font-family : 'robotomedium'}
%font-light { font-family : 'robotolight'}
//@extend %font-regular;
//@extend %font-black;
//@extend %font-medium;
//@extend %font-light;

%clear-list { margin: 0; padding: 0; }
//@extend %clear-list;
%clear-list-elem { list-style: none; }
//@extend %clear-list-elem;

