.link {
  text-decoration : none;
  outline         : none;
  display         : inline-block;
  line-height     : 1em;
  //link role
  &.link-navigate {
    color        : $c-link-navigate;
    border-color : $c-link-navigate;
    &:hover {
      color        : $c-link-navigate-hover;
      border-color : $c-link-navigate-hover;
    }
  }
  &.link-main {
    color        : $c-link-phone;
    border-color : $c-link-phone-border;
    &:hover {
      color        : $c-link-phone-hover;
      border-color : $c-link-phone-border-hover;
    }
  }
  &.link-in-text {
    color        : $c-proj-pink;
    border-color: $c-proj-pink;
    &:hover {
      color        : $c-proj-pink * .9;
      border-color: $c-proj-pink * .9;
    }
  }
  //link style
  &.link-bottom-solid {
    border-bottom-width : 1px;
    border-bottom-style : solid;
  }
  &.link-bottom-dashed {
    border-bottom-width : 1px;
    border-bottom-style : dashed;
  }
  &.link-bottom-dotted {
    border-bottom-width : 1px;
    border-bottom-style : dotted;
  }
  &.link-no-border {
    border-width: 0;
  }
}
.wrap-back-link {
  text-align : center;
  margin-top: -12px;
}