.section {
  .section-title {
    color : $c-proj-pink;
    @extend %font-black;
    text-align : left;
    font-size : 24px;
    line-height : 24px;
    text-transform: uppercase;
    z-index : 10;
  }
}