$main-font-color: #000;
$footer-bg: #1aa89e;

$c-proj-white: #fff;
$c-proj-pink: #e5007d;
$c-proj-gray: #d8fffc;

//цвета ролей ссылок
//навигационная ссылка
$c-link-navigate: #525d67;
$c-link-navigate-hover: #525d67;
$black-color: #525d67;
//ссылка телефонов
$c-link-phone: #000;
$c-link-phone-border: #b2b2b2;
$c-link-phone-hover: #000;
$c-link-phone-border-hover: #c6c6c6;

$q-little-footer-height: 300px;
$q-big-footer-height: 213px;
$q-navbar-devices-width: 200px;
$c-navbar-devices: #292929;

$q-header-height: 81px;
$q-header-little-height: 46px;
$q-header-phone-height: 274px;
$q-navbar-height: 44px;



$c-btn-success-bg: #5ac8f0;
$c-btn-flat-bg: #cef3f0;
$c-btn-flat-color: #169087;

$w-widget-short-info: 310px;