.page-album {
  .section-album {
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height + 20; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    .ago-block {
      line-height : 1;
    }
  }
  .section-album {
    padding-bottom : 65px;
  }
}
.rg-image-wrapper{
  position:relative;
  padding:0;
  background:transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  min-height:20px;
}
.rg-image{
  position:relative;
  text-align:center;
  line-height:0px;
}
.rg-image img{
  max-height:100%;
  max-width:100%;
}
.rg-image-nav a{
  position:absolute;
  top:0;
  left:0;
  background:#000;
  width:28px;
  height:100%;
  cursor: pointer;
  opacity:0.3;
  outline:none;
  z-index : 10;
  .fa {
    position : absolute;
    top : 46%;
    left : 8px;
    color : #fff;
    font-size : 28px;
  }
}
.rg-image-nav a.rg-image-nav-next{
  right:0;
  left:auto;
  background-position:115% 50%;
  .fa {
    position : absolute;
    top : 48%;
    right : 8px;
    left : auto;
  }
}
.rg-image-nav a:hover{
  opacity:0.8;
}
.rg-caption {
  text-align:center;
  position:relative;
}
.rg-caption p{
  font-size:12px;
  line-height:16px;
  margin: 0 28px;
  padding:10px 0;
  background : #1aa89e;
  color : #fff;
}
.rg-view{
  display : none;
}
.rg-view a{
  display:block;
  float:right;
  width:16px;
  height:16px;
  margin-right:3px;
  background:#464646;
  border:3px solid #464646;
  opacity:0.8;
}
.rg-view a:hover{
  opacity:1.0;
}
.rg-view a.rg-view-full{
  background-position:0 0;
}
.rg-view a.rg-view-selected{
  background-color:#6f6f6f;
  border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
  background-position:0px -16px;
}
.rg-loading{
  width:46px;
  height:46px;
  position:absolute;
  top:50%;
  left:50%;
  background:#000 url(../img/bx_loader.gif) no-repeat center center;
  margin:-23px 0 0 -23px;
  z-index:100;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity:0.7;
}
/* Elastislide Style */
.es-carousel-wrapper{
  padding:10px 27px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position:relative;
}
.es-carousel{
  overflow:hidden;
}
.es-carousel ul{
  display:none;
  overflow : hidden;
}
.es-carousel ul li{
  width : 120px !important;
  float:left;
  display:block;
}
.es-carousel ul li a{
  display:block;
  border-style:solid;
  border-color:#fff;
  opacity:0.8;
  -webkit-touch-callout:none;
  /* option */
  transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
  border-color: $c-proj-pink;
  opacity: 1;
}
.es-carousel ul li a img{
  display:block;
  border:none;
  max-height:100%;
  max-width:100%;
}
.es-nav span{
  position:absolute;
  top:50%;
  left:8px;
  background:transparent;
  width:14px;
  height: 22px;
  margin-top: -11px;
  opacity:0.8;
  .fa {
    color : #000;
    cursor : pointer;
  }
}
.es-nav span.es-nav-next{
  right:8px;
  left:auto;
  background-position:top right;
}
.es-nav span:hover{
  opacity:1.0;
}
