.page-command {
  .section-command {
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height + 20; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
  }
  .section-title {
    margin: 0;
    padding-top: 20px;
  }
  .command_list {
    @extend %clear-list;
    text-align : center;
    margin-bottom : 130px;
    margin-top : 35px;
  }
  .command_elem {
    @extend %clear-list-elem;
    display : inline-block;
    width : 16%;
    @include respond-to(phone) { width : 49%; }
    @include respond-to(tablets) { width: 24.5%; }
    @include respond-to(s-screens) { width : 19.5%; }
    text-align : center;
    vertical-align : top;
    margin-bottom : 15px;
  }
  .member-img {
    width : 139px;
    height : 139px;
    border-radius: 139px;

  }
  .member-name {
    color : #169087;
    margin-top : 8px;
    display : inline-block;
  } 
  .member-position {
    display : inline-block;
    color : #000;
    font-size : 12px;
    width : 66%;
  }
}