.page-index {
  .b_slyder {
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height; }
    img {
      width : 100%;
    }
    .bx-pager {
      .bx-pager-link {
        box-sizing: border-box;
        border: 2px solid $c-proj-pink;
        background: transparent !important;
        border-radius: 14px;
        &:hover {
          border: 2px solid $c-proj-pink;
        }
        &.active {
          border: 2px solid $c-proj-pink !important;
          background: $c-proj-pink !important;
          &:hover {
            border: 0;
            background: $c-proj-pink !important;
            cursor: default;
          }
        }
      }
    }
    &.-right_pagination {
      .bx-pager {
        position: absolute;
        top: 50%;
        right: 10px;
        bottom: 0;
        width: 20px;
        padding-top: 0;
        display: inline-block;
        margin-top: -43px;
      }
    }
  }
  .wrap-b_widget_short-info {
    text-align : center;
  }
  .wrap-b_widget_short-info {
    box-sizing: border-box;
    padding-bottom : 25px;
    .section-title {
      text-align : center;
      font-size : 18px;
      margin: 3px 0 30px;
      font-weight : normal;
      @extend %font-regular;
      .link {
        @extend %font-medium;
      }
    }
  }
  .services {
    padding : 25px 0 17px;
    background : url("../img/no-woman-no-cry.jpg") top center no-repeat;
    background-size: cover;
    .section-header {
      overflow : hidden;
      margin-bottom : 14px;
      .section-title {
        display : inline-block;
        margin : 0;
        line-height : 30px;
      }
      .btn {
        float : right;
        font-size : 14px;
        line-height : 30px;
        @include respond-to(phone) { padding: 0 10px; }
      }
    }
    .section-body {
      .b_telly_channels {
        @include respond-to(phone) { width : 100%; }
      }
      .b_telly_content-zone {
        @include respond-to(phone) { width : 100%; margin-top : 15px; margin-left : 0; }
        .b_telly_content-zone_elem {
          @include respond-to(phone) { margin-left : 0; }
        }
      }
    }
    .additional-services {
      .section-title {
        margin: 94px 0 5px;
        color: #169087;
      }
      .wrap-custom-list {
        box-sizing: border-box;
        padding : 7px 16px;
        background : rgba(255, 255, 255, .9);
      }
      .b_custom_elem {
        display : inline-block;
        width : 30%;
        vertical-align : top;
        text-transform: uppercase;
        padding-left : 18px;
        @extend %font-regular;
        @include respond-to(phone) { width: 100%; }
        &:before {
          font-size : 14px;
          top : 10px;
        }
      }
    }
  }
  .invite {
    background : url('../img/bg-services.jpg') right -20px no-repeat;
    padding-bottom : 77px;
    @include respond-to(phone) { background : none; }
    @include respond-to(tablets) { background : none; }
    .section-title {
      text-align : center;
      margin: 44px 0 14px;
    }
    .call-me {
      text-align : center;
      .hint {
        font-size : 14px;
        color: #169087;
        text-transform: uppercase;
      }
      .link {
        font-size : 36px;
        margin-top : 4px;
        @extend %font-black;
        @include respond-to(phone) { font-size : 28px; }
      }
    }
    .b_telly {
      margin-top : 45px;
      .b_telly_channels {
        @include respond-to(phone) { width : 100%; }
        @include respond-to(tablets) { width : 36%; }
      }
      .b_telly_channels_elem {
        .title {
          @extend %font-black;
          text-transform: uppercase;
          font-size : 14px;
          color: $c-proj-pink;
          font-weight : bold;
          @include respond-to(phone) { font-size : 12px; }
          @include respond-to(tablets) { font-size : 12px; }
        }
        .hint {
          @extend %font-light;
          color: $c-proj-pink;
          float : right;
          font-size : 14px;
          text-transform: lowercase;
          @include respond-to(phone) { font-size : 12px; }
          @include respond-to(tablets) { font-size : 12px; }
        }
        .length {
          font-size : 14px;
          text-transform: lowercase;
          @include respond-to(phone) { font-size : 12px; }
          @include respond-to(tablets) { font-size : 12px; }
        }
      }
      .b_telly_content-zone {
        @include respond-to(phone) { width: 100%; }
        @include respond-to(tablets) { width: 63%; }
      }
      .b_telly_content-zone_elem {
        padding-top : 0;
        @include respond-to(phone) { margin-left : 0; margin-top : 20px; }
        .title {
          font-size : 14px;
          line-height : 1em;
          color : $c-proj-pink;
          text-transform: uppercase;
          margin-bottom : 12px;
        }
        .list {
          font-size : 14px;
          text-transform: none;
        }
      }
    }
  }
  .map {
    background : $c-proj-gray;
    text-align : center;
    .img-map {
      border: 4px solid $c-proj-gray;
      margin : -55px 0;
      @include respond-to(phone) { width: 100%; }
    }
  }
  .photo-tour {
    .section-title {
      text-align : center;
      margin: 110px 0 22px;
    }
  }
  .map-address {
    .section-title {
      margin: 0;
      padding : 66px 0 23px;
      text-align : center;
    }
    .gmap {
      height: 374px;
      width : 100%;
    }
  }
  .partners {
    padding-bottom : 55px;
    .section-title {
      text-align : center;
      margin : 0;
      padding : 42px 0 33px;
    }
    .partners-list {
      @extend %clear-list;
      width : 100%;
      text-align : center;
      .partners-elem {
        @extend %clear-list-elem;
        display : inline-block;
        background : #d6edf3;
        width : 104px;
        height : 104px;
        border-radius: 104px;
        margin : 0 35px;
        @include respond-to(phone) { width : 200px; height : 200px; border-radius: 200px; margin-top : 20px; }
      }
    }
  }
  .wrap-additional-slyder {
    height: 560px;
    margin-top: 20px;
    @include respond-to(phone) {height: 260px;}
    @include respond-to(tablets) {height: 460px;}
  }
}
.wrap-btn-fixed-call {
  display : inline-block;
  text-align : center;
  position: fixed;
  bottom : 5px;
  left : 50%;
  margin-left : -39px;
  //@include respond-to(phone) { display : block; }
}
.btn-fixed-call {
  display : inline-block;
  background : rgba(62, 182, 173, .8);
  color: #fff;
  border : 1px solid #1aa59c;
  width: 76px;
  height : 76px;
  border-radius: 76px;
  line-height : 76px;
  font-size : 30px;
}