.page-media {
  .section-media {
    padding : 40px 0 70px;
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height; }
  }
  .b_tabs_list {
    margin-bottom : 20px;
  }
  .b_tabs_elem {
    &.-active {
      .link {
        color: $c-proj-pink;
      }
    }
    .link {
      @extend %font-black;
      color: #169087;
    }
  }
  .short-img-list {
    @extend %clear-list;
    margin: 0 -15px 40px;
    @include respond-to(phone) { margin-left : 0; margin-right : 0; }
  }
  .short-img-elem {
    @extend %clear-list-elem;
    width : 30%;
    @include respond-to(phone) { width : 100%; margin-left : 0; margin-right : 0; }
    @include respond-to(tablets) { width : 45%; }
    @include respond-to(s-screens) { width : 46%; }
    display : inline-block;
    margin : 15px;
    position : relative;
    box-sizing: border-box;
    cursor : pointer;
    &:hover {
      .short-img-description {
        top : 0;
        height: auto;
        .name {
          white-space: normal !important;
        }
      }
    }
  }
  .short-img-img {
    width : 100%;
  }
  .short-img-description {
    width : 100%;
    height : 60px;
    position : absolute;
    bottom : 0;
    left : 0;
    right: 0;
    background : rgba(0, 0, 0, .8);
    padding : 10px;
    box-sizing: border-box;
    .name {
      @include trim();
      font-size : 12px;
      text-decoration : underline;
      color : #fff;
      @extend %font-light;
      margin-bottom : 10px;
    }
    .date {
      color : #a2a2a2;
      font-size : 12px;
      @extend %font-light;
    }
  }
}