.page-news {
  .section-timetable {
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height; }
  }
  .b_wrap-tabs {
    padding-top : 40px;
  }
  .b_pagination {
    margin: 30px 0 50px;
    width : 820px;
    @include respond-to(phone) { width: 100%; }
    @include respond-to(tablets) { width: 100%; }
  }
  .b_tabs_elem {
    &.-active {
      .link {
        color: $c-proj-pink;
      }
    }
    .link {
      @extend %font-black;
      color: #169087;
    }
  }
}