.page-programms {
  color: #000;
  .b_telly_channels, .b_telly_content-zone {
    @include respond-to(phone) { width: 100%; }
    @include respond-to(tablets) {}
  }
  .b_telly_content-zone_elem {
    @include respond-to(phone) { margin-top : 20px !important; margin-left : 0 !important; padding : 0 !important; }
  }
  .section-programms {
    padding-bottom : 40px;
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height + 20; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
  }
  .b_telly {
    margin-bottom : 60px;
  }
  .b_breadcrumb {
    margin-bottom : 20px;
  }
  .section-title {
    font-size : 24px;
    line-height : 24px;
    margin : 20px 0 30px;
  }
  ul {
    @extend %clear-list;
    li {
      @extend %clear-list-elem;
    }
  }
  b {
    color : #000;
    @extend %font-black;
  }
  .b_telly_content-zone_elem {
    padding-top : 0 !important;
    padding-bottom : 0 !important;
    font-size : 14px;
    @extend %font-regular;
    li {
      padding-left : 10px;
      &:before {
        content : '-';
        display : inline-block;
        margin-left : -10px;
      }
    }
  }
  .b_telly_channels_elem {
    &:hover {
      background : #d8f5f3 !important;
    }
    &.-active {
      &:hover {
        cursor : default;
        background : $c-proj-pink !important;
      }
    }
  }
  .ago-block {
    line-height : 1;
  }
}