.page-timetable {
  .section-timetable {
    @include respond-to(tablets) { margin-top : $q-header-little-height + $q-header-height + 20; }
    @include respond-to(s-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(m-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    @include respond-to(l-screens) { margin-top : $q-header-height + $q-navbar-height + 20; }
    .section-title {
      margin-top : 0;
      padding-top : 20px;
    }
  }
  .btn-flat {
    color: #169087;
    font-size : 14px;
    line-height : 36px;
    margin: 28px 0 42px;
    padding : 0 15px;
  }
  .b_tabs_elem {
    @include respond-to(phone) { border : 0; padding: 0; }
  }
}