.b_about {
  padding : 29px 0;
  .b_about_header {
    @extend %font-black;
    text-transform: uppercase;
    color : #e5007d;
    font-size : 24px;
    text-align : left;
    line-height : 24px;
    margin: 0;
  }
  .about_text {
  }
}