.b_breadcrumb {
  margin: 15px 0 30px;
  @include respond-to(phone) { display : none; }
  .ago-block {
    margin-bottom : 5px;
  }
  .ago-link {
    font-size : 12px;
    line-height : 12px;
    color : #000;
    &:hover {
      text-decoration : none;
    }
    .fa {
      display : inline-block;
      padding-right : 4px;
    }
  }
  .b_breadcrumb_list {
    @extend %clear-list;
  }
  .b_breadcrumb_elem {
    @extend %clear-list-elem;
    display : inline-block;
    vertical-align : bottom;
    &:before {
      content : '/';
      display : inline-block;
      font-size : 16px;
      padding : 0 5px;
      color : #000;
    }
    &:first-child{
      &:before {
        display : none;
      }
    }
  }
  a.b_breadcrumb_link {
    @extend %font-black;
    font-size : 24px;
    text-transform: uppercase;
    color : $c-proj-pink;
    text-decoration : none;
    line-height : 24px;
  }
  span.b_breadcrumb_link {
    text-decoration : none;
    font-size : 14px;
    color : #000;
    line-height : 14px;
  }
}