.b_custom_list {
  @extend %clear-list;
}
.b_custom_elem {
  @extend %clear-list-elem;
  padding : 10px 0 6px 12px;
  font-size : 14px;
  position : relative;
  &:before {
    content: "\f111";
    font-size : 8px;
    display : inline-block;
    font-family : "FontAwesome";
    color : #1aa89e;
    position : absolute;
    vertical-align : top;
    top : 15px;
    left : 0;
  }
}