.footer {
  background : $footer-bg;
  padding : 65px 0;
  box-sizing: border-box;
  @include respond-to(phone) { padding : 65px 0; text-align : center; }
  .b_social-links-list {
    float : right;
    margin: 25px 9px;
    @include respond-to(phone) { float : none; }
    .b_social-links-link {
      width : 35px;
      height : 35px;
      border-radius: 35px;
      .fa {
        font-size : 22px;
        line-height : 35px;
      }
    }
  }

}
.b_footer-controls-list {
  display : inline-block;
  width : 560px;
  vertical-align : middle;
  margin-left : 27px;
  @include respond-to(phone) { width : 100%; text-align : left; }
  @include respond-to(tablets) { width : 460px; }
  @extend %clear-list;
  .b_footer-controls-elem {
    display : inline-block;
    @extend %clear-list-elem;
    width : 24%;
    line-height : 1.6em;
    @include respond-to(phone) { width : 49%; text-align : left;}
  }
  .b_footer-controls-link {
    color: #fff;
    text-decoration : none;
    line-height : 1em;
    display : inline-block;
    border-bottom : 1px solid #8dd4cf;
    font-size : 14px;
    &:hover {
      border-bottom-color: $footer-bg;
    }
  }
}