.b_header {
  @extend %font-light;
  background : #fff;
  padding: 15px 0 12px;
  font-size : 14px;
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  z-index : 100;
  @include respond-to(phone) { display : none; margin-top : $q-header-little-height; }
  @include respond-to(tablets) { margin-top : $q-header-little-height; }
  .b_header_logo {
    text-decoration : none;
    overflow : hidden;
    width: 226px;
    height : 45px;
    display : inline-block;
    @include respond-to(tablets) {width : 170px;}
  }
  .b_header_img {
    @include respond-to(tablets) {width : 170px;}
  }
  .fa {
    color : #bae5e2;
    font-size: 27px;
    vertical-align : middle;
  }
  .wrap-work-period {
    margin : 0 20px 0 23px;
    @include respond-to(s-screens) {margin: 0 17px;}
    @include respond-to(tablets) {margin: 0 10px;}
  }
  .wrap-phone {
    margin: 0 20px;
    @include respond-to(s-screens) {margin: 0 17px;}
    @include respond-to(tablets) {margin: 0 10px;}
  }
  .wrap-address {
    margin : 0 21px;
    @include respond-to(m-screens) {margin: 0 17px;}
    @include respond-to(s-screens) {margin: 0 15px;}
    @include respond-to(tablets) {margin: 0 10px;}
  }
  .wrap-work-period, .wrap-phone, .wrap-address {
    display : inline-block;
    vertical-align : top;
    margin-top : 4px;
    @include respond-to(phone) { width : 100%; margin-left : 0; margin-right : 0; margin-top : 10px; margin-bottom : 10px; }
    .fa {
      @include respond-to(phone) { width : 24px; }
    }
  }
  .b_social-links-list {
    vertical-align: top;
    margin: 14px 8px;
    @include respond-to(phone) { display : none; }
    @include respond-to(tablets) { display : none; }
  }
}

.b_header_work-period-list {
  @extend %clear-list;
  display : inline-block;
  vertical-align : middle;
  margin-left : 10px;
  .b_header_work-period-elem {
    @extend %clear-list-elem;
    line-height : 1.7em;
  }
  .days {
    display : inline-block;
    margin-right : 10px;
  }
  .time {
    @extend %font-regular;
  }
}

.b_header_phones-list {
  @extend %clear-list;
  display : inline-block;
  vertical-align : middle;
  margin-left : 11px;
  .b_header_phones-elem {
    @extend %clear-list-elem;
    line-height : 1.7em;
  }
  .b_header_phones-link {

  }
}
.b_address {
  display : inline-block;
  vertical-align : middle;
  margin-left : 10px;
  line-height : 1.7em;
}