.b_main-nav {
  background : #1aa89e;
  position : fixed;
  top : $q-header-height;
  left : 0;
  right : 0;
  z-index : 100;
  //&.-fixed {
  //  position : fixed;
  //  top : 0;
  //  left: 0;
  //  right : 0;
  //  z-index : 10000;
  //}
  @include respond-to(phone) { display : none; }
  @include respond-to(tablets) { display : none; }
  .b_main-nav-list {
    @extend %clear-list;
  }
  .b_main-nav-elem {
    @extend %clear-list-elem;
    display : inline-block;
  }
  .b_main-nav-link {
    display : inline-block;
    color : #fff;
    text-transform: uppercase;
    font-size : 12px;
    text-decoration : none;
    line-height : 12px;
    padding : 17px 8px 15px;
    cursor : pointer;
    &.-active {
      color: #00ffed;
      &:hover {
        background : transparent;
        cursor : default;
      }
    }
    &:hover {
      color: #00ffed;
      background : #26aca3;
    }
    &.-important {
      background : #e5007d;
      &:hover {
        color: #fff !important;
        background : #e53394;
      }
    }
  }
}
.b_mobile-nav {
  display : none;
  @include respond-to(phone) { display : inline-block; }
  @include respond-to(tablets) { display : inline-block; }
  z-index: 100000;
  position : fixed;
  top : 0;
  right : 0;
  bottom : 0;
  .little-logo {
    float: left;
    @include respond-to(tablets) {
      display : none;
    }
  }
  .wrap-checked-label {
    position : fixed;
    right : 0;
    top : 0;
    left : 0;
    padding : 10px 25px;
    background : #1aa89e;
    text-align : right;
  }
  .checked-label {
    display : inline-block;
    margin-right : -4px;
    vertical-align : top;
    .fa {
      font-size : 24px;
      cursor : pointer;
      color : #fff;
    }
  }
  .mobile-nav-list {
    width : 0;
    height: 90%;
    background : #1aa89e;
    @extend %clear-list;
    overflow-x : hidden;
    overflow-y : auto;
  }
  .mobile-nav-elem {
    @extend %clear-list-elem;
    &.social {
      background : #00988d;
      padding : 15px 26px;
    }
  }
  .mobile-nav-link {
    text-decoration : none;
    color : #fff;
    line-height : 45px;
    font-size : 12px;
    display : block;
    box-sizing: border-box;
    padding : 0 27px;
    @extend %font-medium;
    text-transform: uppercase;
    &.-important {
      background : #e5007d;
    }
    &:active {
      background : #26aca3;
      color : #00ffed;
    }
    &.-active {
      color : #00ffed;
    }
  }
  .toggler {
    display : none;
    &:checked {
      & + .mobile-nav-list {
        display : inline-block;
        vertical-align : top;
        width : 225px;
        margin-top : 46px;
      }
    }
  }
}