.b_pagination {
  text-align : center;
}
.b_pagination_list {
  @extend %clear-list;
  display : inline-block;
}
.b_pagination_elem {
  vertical-align : top;
  @extend %clear-list-elem;
  display : inline-block;
  &.-active {
    background : transparent !important;
    .b_pagination_link {
      cursor : default;
      border : 2px solid $c-proj-pink;
      box-sizing: border-box;
    }
  }
  &:hover {
    background : #cef3f0;
    color : #169087;
  }
  &:last-child, &:first-child {
    .b_pagination_link {
      width: auto;
      padding : 0 14px;
    }
  }
}
.b_pagination_link {
  display : inline-block;
  width : 36px;
  height: 36px;
  line-height : 34px;
  text-decoration : none;
  color: #169087;
  @extend %font-regular;
  vertical-align: middle;
  .fa {
    display : inline-block;
    margin : 0 4px;
  }
}