.b_social-links-list {
  @extend %clear-list;
  display : inline-block;
  .b_social-links-elem {
    @extend %clear-list-elem;
    display : inline-block;
  }
  .b_social-links-link {
    display : inline-block;
    width : 26px;
    height : 26px;
    border-radius: 26px;
    background : #e5007d;
    text-align : center;
    vertical-align : middle;
    &:hover {
      background : #d70071;
    }
  }
  .fa {
    color : #fff;
    display : inline-block;
    vertical-align : middle;
    font-size : 16px;
    line-height : 26px;
  }
  .fa-vk {
    margin-left : -2px;
  }
}