.b_slyder {
  .bx-pager {
    @include respond-to(phone) { right: 0 !important; margin-top : 20px !important; position : relative !important; top : 0 !important; width : 100% !important; }
    //@include respond-to(tablets) { margin-top : 0 !important; position : relative !important; top : 0 !important; width : 100% !important; }
  }
}