.b_short-info-section_list {
  @extend %font-light;
  @extend %clear-list;
  width : 820px;
  @include respond-to(phone) { width: 100%; }
  @include respond-to(tablets) { width: 100%; }
  .column {
    @include respond-to(phone) { display : block; width: 100% !important; }
    &:first-child {
      width : 255px;
    }
  }
}
.b_short-info-section_elem {
  @extend %clear-list-elem;
  padding : 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #cef3f0;
}
.b_short-info-section_date {
  font-size : 14px;
  line-height : 14px;
  color: #777;
}
.b_short-info-section_img {
  margin-right : 30px;
  @include respond-to(phone) { width: 100%; margin : 0 0 10px; }
}
.b_short-info-section_header {
  font-size : 18px;
  line-height : 22px;
  color : $c-proj-pink;
  margin: 5px 0 10px;
}
.b_short-info-section_main-content {
  p {
    padding : 5px 0;
    margin: 0;
    line-height : 1.6;
  }
  font-size : 14px;
  line-height : 16px;
  position : relative;
  &.-closed {
    height : 105px;
    overflow : hidden;
    padding-bottom : 20px;
  }
  &.-open {
    height : auto;
    padding-bottom : 20px;
  }
  .wrap-link {
    position : absolute;
    bottom : 0;
    left : 0;
    right : 0;
    background : #fff;
    line-height : 18px;
    padding-top : 10px;
  }
  .link {
    cursor : pointer;
    color : #169087;
    border-color : #169087;
  }
}