.b_timetable {
  position : relative;
  @include respond-to(phone) { display : none; }
  &.-mobile {
    display : none;
    @include respond-to(phone) { display : block; }
    .b_timetable_mobile-day-title {
      width : 100%;
      font-size : 26px;
      line-height : 30px;
      margin-bottom : 10px;
    }
    .b_timetable_cell {
      &:first-child {
        width: 30%;
      }
      &:last-child {
        width : 69%;
      }
    }
    .popover_container {
      width : 100%;
    }
  }
}
.b_timetable_table {
  width: 100%;
  @extend %font-light;
  font-size : 14px;
  color : #000;

}
.b_timetable_thead {
  font-size : 14px;
}
.b_timetable_tbody {

}
.b_timetable_thead_row {

}
.b_timetable_tbody_row {
  &:nth-child(odd) {
    background : #eee;  
    .b_timetable_cell:nth-child(even) {
      background : #f7f7f7;
    }
  }
  &:nth-child(even) {
    background : #eee;
    .b_timetable_cell:nth-child(odd) {
      background : #f7f7f7;
    }
  }
}
.b_timetable_cell {
  box-sizing: border-box;
  display : table-cell;
}
.b_timetable_row {
  display : table;
  width : 100%;
}
.b_timetable_tb-cell, .b_timetable_th-cell {
  width : 128px;
  min-width : 128px;
  max-width : 128px;
  height : 56px;
  min-height : 56px;
  max-height : 56px;
  padding : 10px 5px;
  @include respond-to(tablets) {
    width : 90px;
    min-width : 90px;
    max-width : 90px;
    height : 56px;
    min-height : 56px;
    max-height : 56px;
  }
  &:first-child {
    width : 83px;
    max-width : 83px;
    height : 56px;
    max-height : 56px;
    padding : 15px 5px;
  }
  &.-reserved {
    background : #b6eee9 !important;
    border: 1px solid #fff;
    cursor : pointer;
    &.-active {
      background : #f3aac9 !important;
    }
  }
}
.b_timetable_th-cell {
   font-weight : normal;
   height : 30px;
   text-align : center;
  vertical-align : bottom;
   &:first-child {
     width : 83px;
     min-width : 83px;
     max-width : 83px;
     height : 56px;
     min-height : 56px;
     max-height : 56px;
     padding : 15px 5px;
   }
 }

.b_timetable_cell_content_time-gym {

}
.b_timetable_cell_content {

}
.b_timetable_cell_content_time {

}
.b_timetable_cell_content_gym {

}
.b_timetable_cell_content_title {
  @extend %font-black;
  max-width : 100%;
  @include trim();
}
.b_timetable_cell_content_description {
  max-width : 100%;
  @include trim();
}
.b_timetable_cell_content_popover-content {
  display : none;
}
.b_timetable_cell_content_popover-content_header {

}
.b_timetable_cell_content_popover-content_header {
  margin: 0 0 15px;
  @extend %font-light;
  font-size : 14px;
  line-height : 14px;
  font-weight : normal;
  text-transform: uppercase;
}
.b_timetable_cell_content_popover-content_header-about {
  margin : 15px 0 10px;
  font-size : 14px;
  line-height : 14px;
  font-weight : normal;
  @extend %font-light;
  
}
.b_timetable_cell_content_popover-content_control-line {
  font-size : 12px;
}
.b_timetable_cell_content_popover-content_label {
  @extend %font-light;
  display : inline-block;
  margin-right :5px;
}
.b_timetable_cell_content_popover-content_value {
  @extend %font-regular;
}
.b_timetable_cell_content_popover-content_description-about {
  @extend %font-light;
  font-size : 12px;
  line-height : 16px;
}

.popover_container {
  position : absolute;
  box-sizing: border-box;
  background : #fff;
  border : 2px solid $c-proj-pink;
  width: 276px;
  padding : 13px;
  &:after, &:before {
    content : '';
    display : inline-block;
    width: 0;
    height : 0;
    position : absolute;
  }
  &.-right {
    &:after {
      border-width: 16px;
      border-color: transparent;
      border-right-color : $c-proj-pink;
      border-style: solid;
      top : 28px;
      left : -32px;
      z-index: 10;
    }
    &:before {
      border-width: 14px;
      border-color: transparent;
      border-right-color : #fff;
      border-style: solid;
      top : 30px;
      left : -27px;
      z-index: 11;
    }
  }
  &.-left {
    &:after {
      border-width: 16px;
      border-color: transparent;
      border-left-color : $c-proj-pink;
      border-style: solid;
      top : 28px;
      right : -32px;
      z-index: 10;
    }
    &:before {
      border-width: 14px;
      border-color: transparent;
      border-left-color : #fff;
      border-style: solid;
      position : absolute;
      top : 30px;
      right : -27px;
      z-index: 11;
    }
  }
  &.-top {
    &:after {
      border-width: 16px;
      border-color: transparent;
      border-bottom-color : $c-proj-pink;
      border-style: solid;
      top : -32px;
      right : 49%;
      z-index: 10;
    }
    &:before {
      border-width: 14px;
      border-color: transparent;
      border-bottom-color : #fff;
      border-style: solid;
      position : absolute;
      top : -27px;
      right : 50%;
      z-index: 11;
    }
  }
}
.popover-close {
  position : absolute;
  top : 8px;
  right : 12px;
  cursor : pointer;
  .fa {
    color : #e60f84;
    &:hover {
      color : #fa0f93;
    }
  }
}