.b_wrap-tabs {

}
.b_tabs_list {
  @extend %clear-list;
  overflow : hidden;
}
.b_tabs_elem {
  @extend %clear-list-elem;
  text-transform: uppercase;
  font-size : 18px;
  @extend %font-light;
  padding : 0 23px;
  border-left : 2px solid #cef3f0;
  border-right : 2px solid #cef3f0;
  float : left;
  .link {
    cursor : pointer;
    color: #169087;
    border-color : #169087;
    &:hover {
      border-color: transparent;
    }
  }
  &:first-child {
    padding-left : 0;
    border-left: 0;
  }
  &:last-child {
    border-right : 0;
  }
  &.-active {
      .link {
        border : 0;
        cursor : default;
        color: $c-proj-pink;
    }
  }
}
.b_tabs-content_list {
  @extend %clear-list;
}
.b_tabs-content_elem {
  @extend %clear-list-elem;
  display : none;
  &.-show {
    display : block;
  }
}