.b_telly {
  overflow : hidden;
  .b_telly_channels {
    display : inline-block;
    width : 31%;
    vertical-align : top;
  }
  .b_telly_channels_list {
    @extend %clear-list;
    .b_telly_channels_elem {
      @extend %clear-list-elem;
      position : relative;
      background : rgba(255, 255, 255, .8);
      color : #000;
      text-transform: uppercase;
      line-height : 39px;
      margin-bottom : 1px;
      box-sizing: border-box;
      padding : 0 14px;
      font-size : 14px;
      @extend %font-regular;
      &.-active {
        background : $c-proj-pink;
        color: $c-proj-white;
        &:hover {
          background : $c-proj-pink;
          color: $c-proj-white;
          cursor : default;
        }
      }
      &:hover {
        cursor : pointer;
        background : rgba(255, 255, 255, .9);
      }
    }
  }
  .b_telly_content-zone {
    display : inline-block;
    width : 66%;
    vertical-align : top;
    float : right;
  }
  .b_telly_content-zone_list {
    @extend %clear-list;
    .b_telly_content-zone_elem {
      @extend %clear-list-elem;
      display : none;
      box-sizing: border-box;
      margin-left : 20px;
      background : rgba(255, 255, 255, .8);
      overflow : hidden;
      padding : 15px 21px;
      &.-show {
        display : block;
      }
    }
  }
  .paragraph {
    margin-top : 0;
    @extend %font-regular;
    font-size : 14px;
    line-height : 1.3em;
    margin-bottom : 18px;
    &:last-child {
      margin-bottom : 0;
    }
  }
  .link-in-text {
    font-size : 14px;
  }


  &.b_telly_flat {
    .b_telly_channels_elem {
      border : 4px solid $c-proj-gray;
      background : $c-proj-white;
      margin-bottom : 8px;
      padding: 3px 14px;
      @extend %font-light;
      font-size : 14px;
      &.-active {
        border-color: $c-proj-pink;
        background : $c-proj-white;
        color : #000;
        cursor : default;
        &:hover {
          border: 4px solid $c-proj-pink;
          background : $c-proj-white;
          color : #000;
        }
      }
      &:hover {
        cursor : pointer;
        background : $c-proj-gray;
      }
    }
    .b_telly_content-zone_elem {
      background : transparent;
    }
  }
}