.b_widget_short-info {
  display : inline-block;
  width : $w-widget-short-info;
  box-sizing: border-box;
  border: 4px solid #d8fffc;
  padding : 9px 10px;
  text-align : left;
  vertical-align : top;
  margin: 0 14px;
  height : 314px;
  @include respond-to(phone) { box-sizing: border-box; width : 100%; margin: 0 0 20px;}
  .b_widget_short-info_header {
    overflow : hidden;
    .b_widget_short-info_header_title {
      @extend %font-black;
      color: $c-proj-pink;
      font-size : 18px;
      display : inline-block;
      margin: 0;
      text-transform: uppercase;
      line-height : 30px;
    }
    .btn {
      @extend %font-light;
      font-size : 14px;
      line-height : 30px;
      padding : 0 20px;
      float : right;
    }
  }
  .b_widget_short-info_body {

  }
  .b_widget_short-info_body_list {
    @extend %clear-list;
    margin-top : 15px;
  }
  .b_widget_short-info_body_elem {
    @extend %clear-list-elem;
    margin-bottom : 13px;
    overflow : hidden;
    .b_widget_short-info_date {
      @extend %font-light;
      font-size : 14px;
    }
    .link {
      @extend %font-light;
      font-size : 14px;
      @include trim;
      max-width: 282px;
      margin-top : 7px;
      &.link-img {
        margin-top : 0;
        float : left;
        margin-right : 10px;
      }
    }
  }
  &.b_widget_news {
    padding-bottom : 20px;
  }
  &.b_widget_media {
    .b_widget_short-info_body_list {
      margin-top : 22px;
    }
    .b_widget_short-info_body_elem {
      margin-bottom : 10px;
    }
    .b_widget_short-info_date {
      line-height : 1;
    }
    .link {
      max-width: $w-widget-short-info - 133;
      @include respond-to(phone) { max-width: $w-widget-short-info - 143; }
    }
  }
}