@mixin linear-gradient($start-color, $middle-color, $finish-color) {
  background : $middle-color;
  background : -moz-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%);
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(50%, $middle-color), color-stop(100%, $finish-color));
  background : -webkit-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%);
  background : -o-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%);
  background : -ms-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%);
  background : linear-gradient(to bottom, $start-color 0%, $middle-color 50%, $finish-color 100%);
  filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$finish-color', GradientType=0);
}
@mixin linear-gradient-important($start-color, $middle-color, $finish-color) {
  background : $middle-color !important;
  background : -moz-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%) !important;
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(50%, $middle-color), color-stop(100%, $finish-color)) !important;
  background : -webkit-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%) !important;
  background : -o-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%) !important;
  background : -ms-linear-gradient(top, $start-color 0%, $middle-color 50%, $finish-color 100%) !important;
  background : linear-gradient(to bottom, $start-color 0%, $middle-color 50%, $finish-color 100%) !important;
  filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$finish-color', GradientType=0) !important;
}