$w-ex-small: 320px;
$w-small: 768px;
$w-medium: 1024px;
$w-large: 1280px;
$w-large-middle: 1441px;
$w-large-big: 1601px;
$w-ultra-large: 1921px;

$h-ex-small: 768px;
$h-small: 800px;
$h-medium: 900px;
$h-large: 1024px;
$h-ultra-large: 1080px;


@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (min-width : $w-ex-small) and (max-width : $w-small - 1) { @content; }
  } @else if $media == tablets {
    @media only screen and (min-width : $w-small) and (max-width : $w-medium - 1) { @content; }
  } @else if $media == s-screens {
    @media only screen and (min-width : $w-medium) and (max-width : $w-large - 1) { @content; }
  } @else if $media == m-screens {
    @media only screen and (min-width : $w-large) and (max-width : $w-ultra-large - 1) { @content; }
  //} @else if $media == m-screens-little {
  //  @media only screen and (min-width : $w-large) and (max-width : $w-large-middle - 1) { @content; }
  //} @else if $media == m-screens-middle {
  //  @media only screen and (min-width : $w-large-middle) and (max-width : $w-large-big - 1) { @content; }
  //} @else if $media == m-screens-big {
  //  @media only screen and (min-width : $w-large-big) and (max-width : $w-ultra-large - 1) { @content; }
  } @else if $media == l-screens {
    @media only screen and (min-width : $w-ultra-large) { @content; }
  } @else if $media == phone-landscape {
    @media only screen and (orientation : landscape) and (min-width : $w-ex-small) and (max-width : $w-small - 1) { @content; }
  } @else if $media == tablets-landscape {
    @media only screen and (orientation : landscape) and (min-width : $w-small) and (max-width : $w-medium - 1) { @content; }
  } @else if $media == u-book {
    @media only screen and (min-width : $w-large) and (max-height : $h-ex-small + 1) { @content; }
  }
}

//пример использования
@include respond-to(phone) {}//320-767
@include respond-to(tablets) {}//768-1023
@include respond-to(s-screens) {}//1024-1279
@include respond-to(m-screens) {}//1280-1919
//@include respond-to(m-screens-little) {}//1280-1440
//@include respond-to(m-screens-middle) {}//1441-1600
//@include respond-to(m-screens-big) {}//1600-1920
@include respond-to(l-screens) {}//1920-...
@include respond-to(phone-landscape) {}//320-767, landscape
@include respond-to(tablets-landscape) {}//768-1023, landscape
@include respond-to(u-book) {}//1280-... , ...-767